html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.img--responsive {
    width: 100%; 
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

figure, menu, ul, p {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

header{
    z-index: 10;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.5);
}

.navigation {
    z-index: 10;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5em;
    min-height: 7em;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    gap: 4em;
}

.menu__item a,
.menu__item p {
    color: #29709C;
    font-size: 1.25em;
    font-weight: 700;
}

.menu__item a:hover,
.menu__item p:hover {
    color: #1D3557;
    transition: 0.3s;
}

.navigation__hamburger{
    display: none;
    cursor: pointer;
}

.navigation__logo a img {
    max-width: 3.5em;
}

.navigation__logo a {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.navigation__logo a span {
    font-size: 1.25em;
    color: #343A40;
    font-weight: 700;
    margin-left: 3px;
}

.break {
    display: block;
}

.navigation__logo a span.break {
    font-size: 0.5em;
    font-weight: 600;
    margin-left: -3px;
}

.bar {
    display: block;
    width: 45px;
    height: 6px;
    margin: 6px auto;
    border-radius: 5px;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #1D3557, #29709C);
}

.bar--cross {
    background: linear-gradient(to right, #29709C, #1D3557);
}  

.navigation__menu.active {
    top: 100%;
    right: 0%;
    display: block;
    transition: top 0.5s ease-in-out;
}

.page-header img {
    filter: brightness(95%);
}

.menu__item {
    cursor: pointer;
    transition: 0.3s ease-out;
    position: relative;
    text-align: left;
}

.menu__item--dropdown > p {
    position: relative;
}

.menu__item--dropdown > p::before {
    content: "";
    position: absolute;
    display: block;
    transform: rotate(90deg);
    left: -15px;
    bottom: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #29709C;
}

.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 1em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1;
    transition: opacity 0.3s;
}

.menu__item {
    position: relative;
}

.dropdown-arrow-container {
    display: block;
    position: absolute;
    padding: 1em;
    right: -40px;
    top: -16px;
}

.dropdown-arrow {
    display: block;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #29709C;
    transition: 0.3s;
}

.dropdown-arrow.open {
    transform: rotate(0deg);
}


@media(max-width:1024px){
    .navigation__hamburger {
        display: block;
    }

    .navigation__hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navigation__hamburger.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .navigation__hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .navigation {
        min-height: 5.5em;
    }

    .navigation__menu {
        box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.5);
        z-index: 10;
        position: absolute;
        gap: 0;
        right: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
        background-color: #29709C;
    }   

    .menu__item {
        position: relative;
        text-align: left; 
        padding-top: 2em;
        padding-bottom: 0.75em;
        padding-bottom: 0.5em;
    }

    .menu__item--dropdown p {
        margin-left: 2.5em;
        color: white;
    }

    .menu__item a,
    .menu__item p {
        color: white;
        margin-left: 1.5em;
        font-weight: 600;
        font-size: 1.35em;
    }

    .menu__item::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: white;
    }

    .menu__item:last-child {
        margin-bottom: 2em;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        background-color: white;
        max-height: 0;
    }

    .dropdown-menu a {
        color: black;
        display: block;
        font-weight: 600;
        padding: 0.75em;
        font-size: 1.15em;
    }
    
    .dropdown-menu.open {
        margin-top: 1em;
        max-height: 500px;
        transition: max-height 0.3s ease-in;
        opacity: 1;
        visibility: visible;
        transition: visibility 0.7s, opacity 0.7s linear;
    }

    .menu__item--dropdown > p::before {
        border-bottom: 10px solid white;
    }

    .menu__item--dropdown:has(.dropdown-menu.open) > p::before {
        transition: 0.5s;
        transform: rotate(180deg);
        border-bottom: 10px solid white;
    }

    .dropdown-arrow-container {
        right: 15px;
        top: 0;
    }

    .dropdown-arrow {
        border-left: 20px solid white;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }

    .dropdown-arrow.open {
        transform: rotate(90deg);
    }

    
}

@media(min-width:1024px){
    .dropdown-menu a {
        display: block;
        color: white;
        padding: 1em;
    }
  
    .dropdown-menu a:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
        border-radius: 10px;
        transition: 0.5s;
    }
  
    .menu__item--dropdown {
        position: relative;
    }

    .menu__item--dropdown:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.5s, opacity 0.5s linear;
    }

    .menu__item--dropdown:hover .dropdown-arrow-container .dropdown-arrow {
        rotate: 90deg;
    }

    .dropdown-menu {
        position: absolute;
        left: -2em;
        min-width: 16em;
        border-radius: 10px;
        background-color: #29709C;
    }

    .menu__item--dropdown:hover > p::before {
        transition: 0.3s;
        transform: rotate(180deg);
        border-bottom: 10px solid #1D3557;
    }

    .menu__item--dropdown:last-child .dropdown-menu {
        min-width: 10em;
        right: 0;
    }
}
